body {
  padding: 10px;
  font-family: Helvetica;
  margin:0 auto;
}

.screen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: left;
  gap: 4px;
}

.feed-con {
  padding: 10px;
  width:40%;
}

.grid-row-r {
    display: flex;
    gap:0;
}

.grid-row {
    display: flex;
    gap:0;
}

.blogpost {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  height: 19rem;
  gap: 0;
  padding-bottom: 10px;
  width:50%;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.image {
  max-width: 256px;
  max-height: 128px;
}

.username-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  font-size: 1.1rem;
  padding: 3px;
  border: none;
  border-bottom: 0.4px solid black;
}

input[type="text"]:focus {
  outline: none;
}

input[type="file"]::file-selector-button {
  background-color: #313a31;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  background-color: #313a31;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
